[submodule "vendor/rawImage.js"]
	path = vendor/rawImage.js
	url = https://github.com/tuzz/rawImage.js.git
[submodule "vendor/floodFill.js"]
	path = vendor/floodFill.js
	url = https://github.com/tuzz/floodFill.js.git
[submodule "public/vendor/floodFill.js"]
	path = public/vendor/floodFill.js
	url = https://github.com/tuzz/floodFill.js.git
[submodule "public/vendor/rawImage.js"]
	path = public/vendor/rawImage.js
	url = https://github.com/tuzz/rawImage.js.git
